<h1>Form Demo 2</h1>
<hr />
<form method="post">
  <h3>This is a form demo</h3>
  Enter your name : <input type="text" name="username" /><br />
  Enter your friend's name : <input type="text" name="friendname" /><br />
  Enter your birthday: <input type="date" name="birthdate" /><br />
  What is your favorite color: <input type="color" name="favcolor" /><br />
  Do you want to get annoying emails from me?
  <input type="checkbox" name="annoy" /><br />

  <!-- drop down -->
  <select name="year">
    <option>first year</option>
    <option>sophomore</option>
    <option>junior</option>
    <option>senior</option>
  </select>
  <br />
  <br />
  Enter your bio : <br />
  <textarea name="bio"></textarea>
  <br />
  <input type="submit" value="register for the course" />
  <button class="btn btn-lg btn-danger">
    Do not push this!!No matter what!!
  </button>
</form>
