<h1>This is the sandbox2!!</h1>

<a class="btn btn-lg btn-danger" href="https://www.brandeis.edu"
  >Go to Brandeis</a
>

<hr />
<img src="/images/dog.jpg" alt="cute dog" />

<h2>Lists!</h2>
<ul>
  <li>ichi</li>
  <li>ni</li>
  <li>san</li>
</ul>

<div class="bg-danger">
  <h1>This is a div!!!</h1>
  <p>This is a paragraph</p>
</div>

Here is <span class="bg-info"> a span!</span>, cool huh?
<br />
<hr />

<h1>Tables</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <td>English</td>
      <td>Japanese</td>
      <td>Spanish</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>one</td>
      <td>ichi</td>
      <td>uno</td>
    </tr>
    <tr>
      <td>two</td>
      <td>ni</td>
      <td>dos</td>
    </tr>
    <tr>
      <td>three</td>
      <td>san</td>
      <td>tres</td>
    </tr>
  </tbody>
  <tfooter>
    <tr>
      <td>English</td>
      <td>Japanese</td>
      <td>Spanish</td>
    </tr>
  </tfooter>
</table>

<table class="table table-bordered">
  <thead>
    <tr>
      <td>name</td>
      <td>image</td>
      <td>link</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>dog</td>
      <td><img width="30%" src="/images/dog.jpg" alt="cute dog" /></td>
      <td><a href="images/dog.jpg">Dog Link</a></td>
    </tr>
    <tr>
      <td>cat</td>
      <td><img width="30%" src="/images/cat.jpg" alt="cute cat" /></td>
      <td><a href="images/cat.jpg">Cat Link</a></td>
    </tr>
  </tbody>
</table>
